#include <dt-bindings/i2c/i2c.h>

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>, <NRF_PSEL(TWIM_SCL, 0, 20)>;
        };
    };
    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>, <NRF_PSEL(TWIM_SCL, 0, 20)>;
            low-power-enable;
        };
    };
};

&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <100000>; // Volver a 100kHz para máxima compatibilidad
    zephyr,concat-buf-size = <1024>; // Buffer más grande
    // Forzar configuraciones para máxima compatibilidad
    easydma-maxcnt-bits = <16>;

    // Probar múltiples direcciones I2C comunes para Pimoroni trackball
    trackball: trackball@0a {
        compatible = "pimoroni,trackball";
        reg = <0x0a>; // Dirección estándar
        status = "okay";
    };
    
    // Direcciones alternativas para testing (descomenta si 0x0a no funciona)
    /* 
    trackball_alt1: trackball@0b {
        compatible = "pimoroni,trackball";
        reg = <0x0b>;
        status = "disabled";
    };
    
    trackball_alt2: trackball@48 {
        compatible = "pimoroni,trackball"; 
        reg = <0x48>;
        status = "disabled";
    };
    */
};

&chosen {
    zmk,pointing-device = &trackball;
};