#include <dt-bindings/i2c/i2c.h>

/* Este overlay se aplica al shield sofle_right (central) */
&pro_micro_i2c {                      /* <-- el mismo bus del OLED: i2c@40003000 */
    status = "okay";

    /* (Opcional pero útil) Si hubiese un ssd1306 aquí, que quede deshabilitado en el derecho */
    ssd1306@3c {
        status = "disabled";
    };

    /* Trackball en el mismo bus */
    trackball: trackball@0a {
        compatible = "pimoroni,pim447", "pimoroni,trackball";
        reg = <0x0a>;
        status = "okay";
    };
};

/ {
    /* Indicar a ZMK que este es el pointing device */
    chosen {
        zmk,pointing-device = &trackball;
    };
};