#include <dt-bindings/i2c/i2c.h>

/* Este overlay se aplica al shield sofle_right (central) */
&pro_micro_i2c {                      /* <-- el mismo bus del OLED: i2c@40003000 */
    status = "okay";

    /* OLED display for nice_oled shield */
    ssd1306@3c {
        status = "okay";
    };

    /* Trackball using custom driver */
    pim447_trackball: trackball@a {
        compatible = "pimoroni,pim447-custom";
        reg = <0x0a>;
        status = "okay";
        int-gpios = <&pro_micro 4 GPIO_ACTIVE_LOW>;
    };
};

/ {
    /* Indicar a ZMK que este es el pointing device */
    chosen {
        zmk,pointing-device = &pim447_trackball;
        zephyr,display = &pro_micro_ssd1306;
    };
};