menu "PIM447 trackball"

config ZMK_TRACKBALL_PIM447
	bool "Enable Pimoroni PIM447 trackball"
	depends on I2C && ZMK_MOUSE
	select SENSOR
	help
	  Enables support for the Pimoroni PIM447 I2C trackball.

endmenu
